<!DOCTYPE html>
<html {{{helmet.htmlAttributes}}}>
  <head>
    <meta charset="utf-8" />    
    {{{helmet.meta}}}
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app"/>
  
    {{{helmet.title}}}

    {{{styles}}}

    {{{helmet.link}}}
  </head>
  <body {{{helmet.bodyAttributes}}}>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">{{{ html }}}</div>

    <script id="preloadedState" type="application/json">{{{ preloadedState }}}</script>
    <script id="pagesRoutes" type="application/json">{{{ pagesRoutes }}}</script>
    <script id="apiRoutes" type="application/json">{{{ apiRoutes }}}</script>
    <script>
      var __PRELOADED_STATE__ = JSON.parse(document.getElementById('preloadedState').textContent);
      var __PAGES_ROUTES__ = JSON.parse(document.getElementById('pagesRoutes').textContent);
      var __API_ROUTES__ = JSON.parse(document.getElementById('apiRoutes').textContent);
    </script>  
     {{{scripts}}}
  </body>
</html>
